<h2 class="w3-xlarge">CARTES JUDICIAIRES INTERACTIVES</h2>
<h1>Population des ressorts et effectifs de magistrats</h1>
<h3>(Ordre judiciaire)</h3>

<div class="w3-padding w3-margin-bottom">
	<div class="w3-bar w3-border">
		{{ if .IsHome }}
			{{ $courante := .Site.Params.activeYear }}
			{{ range where site.RegularPages.ByTitle "Type" "apercus" }}
				{{ if eq .LinkTitle $courante }}
				<a href="/" class="w3-bar-item w3-button w3-teal">{{ .LinkTitle }}</a>
				{{ else }}
				<a href="{{ .RelPermalink }}" class="w3-bar-item w3-button">{{ .LinkTitle }}</a>
				{{ end }}
			{{ end }}
		{{ else }}
			{{ $courante := .Title }}
			{{ range where site.RegularPages.ByTitle "Type" "apercus" }}
				{{ if eq .LinkTitle $courante }}
				<a href="/" class="w3-bar-item w3-button w3-teal">{{ .LinkTitle }}</a>
				{{ else }}
				<a href="{{ .RelPermalink }}" class="w3-bar-item w3-button">{{ .LinkTitle }}</a>
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
</div>