<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="w3-content" style="max-width:1500px">
    <div class="w3-center w3-padding">
      <a href='https://www.syndicat-magistrature.fr'>
      {{ $image := resources.Get "images/logo.jpeg" }}
      <img src="{{ $image.RelPermalink }}" height="60px" alt="Logo du SM">
      </a>
    </div>
    <header class="w3-panel w3-center w3-opacity" style="padding:16px">
      {{ partial "header.html" . }}
      <div class="w3-panel w3-card-4 w3-margin w3-padding w3-left-align w3-light-grey w3-xxsmall w3-serif">
      {{ block "panel" . }}{{ end }}
      <p>
        <i>Remarque : certaines disproportions peuvent s'expliquer par le fait que certaines juridictions ont une compétence départementale, régionale, interrégionale ou nationale.</i>
      </p>
      <p style="text-align: right;">
        <a href="https://www.data.gouv.fr/fr/datasets/effectifs-de-magistrats-par-habitant/" target="_blank" class="w3-hover-text-green">Lien vers les données et le code source</a>
      </p>
      </div>
      <div class="w3-padding" style="margin-top: 60px;">
        <div class="w3-bar w3-border">
          <a href="#population" class="w3-bar-item w3-button w3-border">Population des ressorts</a>
          <a href="#cle" class="w3-bar-item w3-button w3-border">Nombre de magistrats</a>
          <a href="#ca" class="w3-bar-item w3-button w3-border">Magistrats par habitant (échelle CA)</a>
          <a href="#tj" class="w3-bar-item w3-button w3-border">Magistrats par habitant (échelle TJ)</a>
        </div>
      </div>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="w3-container w3-padding-64 w3-center w3-small">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
