{{ define "panel" }}
	<p>Ces cartes interactives sont issues du croisement entre, d'une part, les dernières données géographiques et démographiques
    (pour l'année {{ .Site.Params.activeYear }} : 
		{{ $courante := .Site.Params.activeYear }}
		{{ range where site.RegularPages.ByTitle "Type" "apercus" }}
			{{ if eq .Site.Params.activeYear $courante }}
			<a href='{{ .Params.legifrance }}'>{{ .Params.decret }}</a>)
			{{ end }}
		{{ end }}
		de chaque ressort de tribunal judiciaire ou de cour d'appel et, d'autre part, le nombre d'emplois de magistrats prévu dans chaque TJ et
		chaque CA par la dernière circulaire de localisation des emplois opposable en {{ .Site.Params.activeYear }}.
	</p>
{{ end }}

{{ define "main" }}

<div class="w3-container w3-margin">

  <h2 id="population">Population des ressorts</h2>

  <div class="w3-row-padding">
    
    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_population.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Population<br>(échelle : cour d'appel)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_population.png" alt="Population par CA" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_population.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-cente w3-card-4">
        <p>Population<br>(échelle : tribunal judiciaire)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_population.png" alt="Population par TJ" style="width:100%">
      </div>
    </a>

    {{ if eq .Site.Params.activeYear "2021" }}
    {{ else }}
    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_population_evol.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Evolution depuis 2021<br>(échelle : cour d'appel)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_population_evol.png" alt="Evol population depuis 2021" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_population_evol.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Evolution depuis 2021<br>(échelle : tribunal judiciaire)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_population_evol.png" alt="Evol population depuis 2021" style="width:100%">
      </div>
    </a>
    {{ end }}
  </div>
</div>


<div class="w3-container w3-margin">

  <h2 id="cle">Magistrats par ressort</h2>

  <div class="w3-row-padding">
    
    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_cle.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Nombre de magistrats<br>(échelle cour d'appel)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_cle.png" alt="Magistrats par CA" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_cle.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-cente w3-card-4">
        <p>Nombre de magistrats<br>(échelle tribunal judiciaire)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_cle.png" alt="Magistrats par TJ" style="width:100%">
      </div>
    </a>

    {{ if eq .Site.Params.activeYear "2021" }}
    {{ else }}
    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_cle_evol.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Evolution depuis 2021<br>(échelle cour d'appel)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_cle_evol.png" alt="Evol magistrats depuis 2021" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_cle_evol.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Evolution depuis 2021<br>(échelle tribunal judiciaire)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_cle_evol.png" alt="Evol magistrats depuis 2021" style="width:100%">
      </div>
    </a>
    {{ end }}
  </div>
</div>


<div class="w3-container w3-margin">

  <h2 id="ca">Magistrats par habitant (échelle : cours d'appel)</h2>

  <div class="w3-row-padding">
    
    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_ensemble.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Ensemble<br>(CA + TJ + placés)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_ensemble.png" alt="Ensemble des magistrats" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_siege.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-cente w3-card-4">
            <p>Siège<br>(CA + TJ + placés)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_siege.png" alt="Magistrats du siège" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_parquet.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Parquet<br>(CA + TJ + placés)</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_parquet.png" alt="Magistrats du parquet" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JLD.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>JLD<br><br></p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JLD.png" alt="JLD" style="width:100%">
      </div>
    </a>

  </div>
  <div class="w3-row-padding">

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JCP.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>JCP</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JCP.png" alt="JCP" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JE.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-cente w3-card-4">
            <p>Juges des enfants</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JE.png" alt="Juges des enfants" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JI.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>Juges d'instruction</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JI.png" alt="Juges d'instruction" style="width:100%">
      </div>
    </a>

    <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JAP.html" class="w3-center w3-quarter w3-padding">
      <div class="w3-container w3-center w3-card-4">
        <p>JAP</p>
        <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/ca_JLD.png" alt="JAP" style="width:100%">
      </div>
    </a>

  </div>
</div>

<div class="w3-container w3-margin">
<h2 id="tj">Magistrats par habitant (échelle : tribunaux judiciaires)</h2>

<div class="w3-row-padding">

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_ensemble.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-center w3-card-4">
      <p>Magistrats<br>au sein des tribunaux judiciaires</p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_ensemble.png" alt="Ensemble des magistrats" style="width:100%">
    </div>
  </a>

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_siege.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-center w3-card-4">
      <p>Juges du siège<br>au sein des tribunaux judiciaires</p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_siege.png" alt="Magistrats du siège" style="width:100%">	
    </div>
  </a>

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_parquet.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-center w3-card-4">
      <p>Parquetiers<br>au sein des tribunaux judiciaires</p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_parquet.png" alt="Magistrats du parquet" style="width:100%">
    </div>
  </a>

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JLD.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-center w3-card-4">
      <p>JLD<br><br></p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JLD.png" alt="JLD" style="width:100%">
    </div>
  </a>
</div>

<div class="w3-row-padding">

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JCP.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-center w3-card-4">
      <p>JCP</p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JCP.png" alt="JCP" style="width:100%">
    </div>
  </a>

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JE.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-cente w3-card-4">
          <p>Juges des enfants</p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JE.png" alt="Juges des enfants" style="width:100%">
    </div>
  </a>

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JI.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-center w3-card-4">
      <p>Juges d'instruction</p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JI.png" alt="Juges d'instruction" style="width:100%">
    </div>
  </a>

  <a href="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JAP.html" class="w3-center w3-quarter w3-padding">
    <div class="w3-container w3-center w3-card-4">
      <p>JAP</p>
      <img src="/resultats/{{ .Site.Params.activeYear }}/cartes/tj_JLD.png" alt="JAP" style="width:100%">
    </div>
  </a>

</div>

</div>
{{ end }}
